{:kotoba.app/id "cloud.itonami.isic-0893", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreih7jhepa6y7yjxpk5pt4bq3wky3avmiyrf5gyeivtn655alqiijxy", :kotoba.app/embed-url "ipfs://bafkreih7jhepa6y7yjxpk5pt4bq3wky3avmiyrf5gyeivtn655alqiijxy", :published {:archive "https://kotobase.net/ipfs/bafkreih7jhepa6y7yjxpk5pt4bq3wky3avmiyrf5gyeivtn655alqiijxy", :size 72175, :put-status 201, :get-status 200, :at "2026-08-15T13:48:41.224Z"}}
